//! **************************************************************************
// Written by: Map P.20131013 on Thu Dec 10 00:19:58 2015
//! **************************************************************************

SCHEMATIC START;
COMP "led_seg_input[0]" LOCATE = SITE "P85" LEVEL 1;
COMP "led_seg_input[1]" LOCATE = SITE "P88" LEVEL 1;
COMP "led_seg_input[2]" LOCATE = SITE "P84" LEVEL 1;
COMP "led_seg_input[3]" LOCATE = SITE "P82" LEVEL 1;
COMP "led_seg_input[4]" LOCATE = SITE "P80" LEVEL 1;
COMP "led_seg_input[5]" LOCATE = SITE "P83" LEVEL 1;
COMP "led_seg_input[6]" LOCATE = SITE "P81" LEVEL 1;
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "led_sel_goal[0]" LOCATE = SITE "P22" LEVEL 1;
COMP "led_sel_goal[1]" LOCATE = SITE "P23" LEVEL 1;
COMP "led_sel_goal[2]" LOCATE = SITE "P24" LEVEL 1;
COMP "led_sel_goal[3]" LOCATE = SITE "P27" LEVEL 1;
COMP "cclk" LOCATE = SITE "P70" LEVEL 1;
COMP "rst_n" LOCATE = SITE "P38" LEVEL 1;
COMP "led_seg_options1[0]" LOCATE = SITE "P127" LEVEL 1;
COMP "led_seg_options1[1]" LOCATE = SITE "P124" LEVEL 1;
COMP "led_seg_options1[2]" LOCATE = SITE "P126" LEVEL 1;
COMP "led_seg_options1[3]" LOCATE = SITE "P131" LEVEL 1;
COMP "led_seg_options1[4]" LOCATE = SITE "P133" LEVEL 1;
COMP "led_seg_options1[5]" LOCATE = SITE "P132" LEVEL 1;
COMP "led_seg_options1[6]" LOCATE = SITE "P134" LEVEL 1;
COMP "button_number[0]" LOCATE = SITE "P98" LEVEL 1;
COMP "button_number[1]" LOCATE = SITE "P95" LEVEL 1;
COMP "button_number[2]" LOCATE = SITE "P94" LEVEL 1;
COMP "button_number[3]" LOCATE = SITE "P93" LEVEL 1;
COMP "button_number[4]" LOCATE = SITE "P92" LEVEL 1;
COMP "button_operator[0]" LOCATE = SITE "P74" LEVEL 1;
COMP "button_operator[1]" LOCATE = SITE "P79" LEVEL 1;
COMP "button_operator[2]" LOCATE = SITE "P75" LEVEL 1;
COMP "button_operator[3]" LOCATE = SITE "P66" LEVEL 1;
COMP "button_operator[4]" LOCATE = SITE "P67" LEVEL 1;
COMP "spi_sck" LOCATE = SITE "P43" LEVEL 1;
COMP "led_seg_output[0]" LOCATE = SITE "P143" LEVEL 1;
COMP "led_seg_output[1]" LOCATE = SITE "P142" LEVEL 1;
COMP "led_seg_output[2]" LOCATE = SITE "P141" LEVEL 1;
COMP "led_seg_output[3]" LOCATE = SITE "P140" LEVEL 1;
COMP "led_seg_output[4]" LOCATE = SITE "P139" LEVEL 1;
COMP "led_seg_output[5]" LOCATE = SITE "P138" LEVEL 1;
COMP "led_seg_output[6]" LOCATE = SITE "P137" LEVEL 1;
COMP "avr_rx_busy" LOCATE = SITE "P39" LEVEL 1;
COMP "avr_tx" LOCATE = SITE "P55" LEVEL 1;
COMP "led_seg_options[0]" LOCATE = SITE "P105" LEVEL 1;
COMP "led_seg_options[1]" LOCATE = SITE "P104" LEVEL 1;
COMP "led_seg_options[2]" LOCATE = SITE "P112" LEVEL 1;
COMP "led_seg_options[3]" LOCATE = SITE "P111" LEVEL 1;
COMP "led_seg_options[4]" LOCATE = SITE "P115" LEVEL 1;
COMP "led_seg_options[5]" LOCATE = SITE "P114" LEVEL 1;
COMP "led_seg_options[6]" LOCATE = SITE "P117" LEVEL 1;
COMP "led_seg_options[7]" LOCATE = SITE "P120" LEVEL 1;
COMP "spi_ss" LOCATE = SITE "P48" LEVEL 1;
COMP "led_sel_options[0]" LOCATE = SITE "P101" LEVEL 1;
COMP "led_sel_options[1]" LOCATE = SITE "P102" LEVEL 1;
COMP "led_sel_options[2]" LOCATE = SITE "P100" LEVEL 1;
COMP "led_sel_options[3]" LOCATE = SITE "P119" LEVEL 1;
COMP "button_restart" LOCATE = SITE "P78" LEVEL 1;
COMP "spi_mosi" LOCATE = SITE "P44" LEVEL 1;
COMP "led_sel_output[0]" LOCATE = SITE "P144" LEVEL 1;
COMP "led_sel_output[1]" LOCATE = SITE "P1" LEVEL 1;
COMP "led_sel_output[2]" LOCATE = SITE "P2" LEVEL 1;
COMP "led_sel_output[3]" LOCATE = SITE "P5" LEVEL 1;
COMP "led_seg_goal[0]" LOCATE = SITE "P21" LEVEL 1;
COMP "led_seg_goal[1]" LOCATE = SITE "P17" LEVEL 1;
COMP "led_seg_goal[2]" LOCATE = SITE "P16" LEVEL 1;
COMP "led_seg_goal[3]" LOCATE = SITE "P15" LEVEL 1;
COMP "led_seg_goal[4]" LOCATE = SITE "P14" LEVEL 1;
COMP "led_seg_goal[5]" LOCATE = SITE "P12" LEVEL 1;
COMP "led_seg_goal[6]" LOCATE = SITE "P11" LEVEL 1;
TIMEGRP clk = BEL "reset_cond/M_stage_q_3" BEL "reset_cond/M_stage_q_2" BEL
        "reset_cond/M_stage_q_1" BEL "reset_cond/M_stage_q_0" BEL "M_goal_q_0"
        BEL "M_goal_q_1" BEL "M_goal_q_2" BEL "M_goal_q_3" BEL "M_goal_q_4"
        BEL "M_goal_q_5" BEL "M_level_q_1_1" BEL "M_options_temp_q_0" BEL
        "M_options_temp_q_1" BEL "M_options_temp_q_2" BEL "M_options_temp_q_3"
        BEL "M_options_temp_q_4" BEL "M_options_temp_q_5" BEL
        "M_options_temp_q_6" BEL "M_options_temp_q_7" BEL "M_options_temp_q_8"
        BEL "M_options_temp_q_9" BEL "button_cond_restart/M_ctr_q_0" BEL
        "button_cond_restart/M_ctr_q_1" BEL "button_cond_restart/M_ctr_q_2"
        BEL "button_cond_restart/M_ctr_q_3" BEL
        "button_cond_restart/M_ctr_q_4" BEL "button_cond_restart/M_ctr_q_5"
        BEL "button_cond_restart/M_ctr_q_6" BEL
        "button_cond_restart/M_ctr_q_7" BEL "button_cond_restart/M_ctr_q_8"
        BEL "button_cond_restart/M_ctr_q_9" BEL
        "button_cond_restart/M_ctr_q_10" BEL "button_cond_restart/M_ctr_q_11"
        BEL "button_cond_restart/M_ctr_q_12" BEL
        "button_cond_restart/M_ctr_q_13" BEL "button_cond_restart/M_ctr_q_14"
        BEL "button_cond_restart/M_ctr_q_15" BEL
        "button_cond_restart/M_ctr_q_16" BEL "button_cond_restart/M_ctr_q_17"
        BEL "button_cond_restart/M_ctr_q_18" BEL
        "button_cond_restart/M_ctr_q_19" BEL
        "button_cond_restart/sync/M_pipe_q_1" BEL
        "button_cond_restart/sync/Mshreg_M_pipe_q_1" BEL "M_level_q_0" BEL
        "M_level_q_1" BEL "M_level_q_2" BEL "button_cond_number0/M_ctr_q_0"
        BEL "button_cond_number0/M_ctr_q_1" BEL
        "button_cond_number0/M_ctr_q_2" BEL "button_cond_number0/M_ctr_q_3"
        BEL "button_cond_number0/M_ctr_q_4" BEL
        "button_cond_number0/M_ctr_q_5" BEL "button_cond_number0/M_ctr_q_6"
        BEL "button_cond_number0/M_ctr_q_7" BEL
        "button_cond_number0/M_ctr_q_8" BEL "button_cond_number0/M_ctr_q_9"
        BEL "button_cond_number0/M_ctr_q_10" BEL
        "button_cond_number0/M_ctr_q_11" BEL "button_cond_number0/M_ctr_q_12"
        BEL "button_cond_number0/M_ctr_q_13" BEL
        "button_cond_number0/M_ctr_q_14" BEL "button_cond_number0/M_ctr_q_15"
        BEL "button_cond_number0/M_ctr_q_16" BEL
        "button_cond_number0/M_ctr_q_17" BEL "button_cond_number0/M_ctr_q_18"
        BEL "button_cond_number0/M_ctr_q_19" BEL
        "button_cond_number0/sync/M_pipe_q_1" BEL
        "button_cond_number0/sync/Mshreg_M_pipe_q_1" BEL
        "button_cond_number1/M_ctr_q_0" BEL "button_cond_number1/M_ctr_q_1"
        BEL "button_cond_number1/M_ctr_q_2" BEL
        "button_cond_number1/M_ctr_q_3" BEL "button_cond_number1/M_ctr_q_4"
        BEL "button_cond_number1/M_ctr_q_5" BEL
        "button_cond_number1/M_ctr_q_6" BEL "button_cond_number1/M_ctr_q_7"
        BEL "button_cond_number1/M_ctr_q_8" BEL
        "button_cond_number1/M_ctr_q_9" BEL "button_cond_number1/M_ctr_q_10"
        BEL "button_cond_number1/M_ctr_q_11" BEL
        "button_cond_number1/M_ctr_q_12" BEL "button_cond_number1/M_ctr_q_13"
        BEL "button_cond_number1/M_ctr_q_14" BEL
        "button_cond_number1/M_ctr_q_15" BEL "button_cond_number1/M_ctr_q_16"
        BEL "button_cond_number1/M_ctr_q_17" BEL
        "button_cond_number1/M_ctr_q_18" BEL "button_cond_number1/M_ctr_q_19"
        BEL "button_cond_number1/sync/M_pipe_q_1" BEL
        "button_cond_number1/sync/Mshreg_M_pipe_q_1" BEL
        "button_cond_number2/M_ctr_q_0" BEL "button_cond_number2/M_ctr_q_1"
        BEL "button_cond_number2/M_ctr_q_2" BEL
        "button_cond_number2/M_ctr_q_3" BEL "button_cond_number2/M_ctr_q_4"
        BEL "button_cond_number2/M_ctr_q_5" BEL
        "button_cond_number2/M_ctr_q_6" BEL "button_cond_number2/M_ctr_q_7"
        BEL "button_cond_number2/M_ctr_q_8" BEL
        "button_cond_number2/M_ctr_q_9" BEL "button_cond_number2/M_ctr_q_10"
        BEL "button_cond_number2/M_ctr_q_11" BEL
        "button_cond_number2/M_ctr_q_12" BEL "button_cond_number2/M_ctr_q_13"
        BEL "button_cond_number2/M_ctr_q_14" BEL
        "button_cond_number2/M_ctr_q_15" BEL "button_cond_number2/M_ctr_q_16"
        BEL "button_cond_number2/M_ctr_q_17" BEL
        "button_cond_number2/M_ctr_q_18" BEL "button_cond_number2/M_ctr_q_19"
        BEL "button_cond_number2/sync/M_pipe_q_1" BEL
        "button_cond_number2/sync/Mshreg_M_pipe_q_1" BEL
        "button_cond_number3/M_ctr_q_0" BEL "button_cond_number3/M_ctr_q_1"
        BEL "button_cond_number3/M_ctr_q_2" BEL
        "button_cond_number3/M_ctr_q_3" BEL "button_cond_number3/M_ctr_q_4"
        BEL "button_cond_number3/M_ctr_q_5" BEL
        "button_cond_number3/M_ctr_q_6" BEL "button_cond_number3/M_ctr_q_7"
        BEL "button_cond_number3/M_ctr_q_8" BEL
        "button_cond_number3/M_ctr_q_9" BEL "button_cond_number3/M_ctr_q_10"
        BEL "button_cond_number3/M_ctr_q_11" BEL
        "button_cond_number3/M_ctr_q_12" BEL "button_cond_number3/M_ctr_q_13"
        BEL "button_cond_number3/M_ctr_q_14" BEL
        "button_cond_number3/M_ctr_q_15" BEL "button_cond_number3/M_ctr_q_16"
        BEL "button_cond_number3/M_ctr_q_17" BEL
        "button_cond_number3/M_ctr_q_18" BEL "button_cond_number3/M_ctr_q_19"
        BEL "button_cond_number3/sync/M_pipe_q_1" BEL
        "button_cond_number3/sync/Mshreg_M_pipe_q_1" BEL
        "button_cond_number4/M_ctr_q_0" BEL "button_cond_number4/M_ctr_q_1"
        BEL "button_cond_number4/M_ctr_q_2" BEL
        "button_cond_number4/M_ctr_q_3" BEL "button_cond_number4/M_ctr_q_4"
        BEL "button_cond_number4/M_ctr_q_5" BEL
        "button_cond_number4/M_ctr_q_6" BEL "button_cond_number4/M_ctr_q_7"
        BEL "button_cond_number4/M_ctr_q_8" BEL
        "button_cond_number4/M_ctr_q_9" BEL "button_cond_number4/M_ctr_q_10"
        BEL "button_cond_number4/M_ctr_q_11" BEL
        "button_cond_number4/M_ctr_q_12" BEL "button_cond_number4/M_ctr_q_13"
        BEL "button_cond_number4/M_ctr_q_14" BEL
        "button_cond_number4/M_ctr_q_15" BEL "button_cond_number4/M_ctr_q_16"
        BEL "button_cond_number4/M_ctr_q_17" BEL
        "button_cond_number4/M_ctr_q_18" BEL "button_cond_number4/M_ctr_q_19"
        BEL "button_cond_number4/sync/M_pipe_q_1" BEL
        "button_cond_number4/sync/Mshreg_M_pipe_q_1" BEL
        "edge_detector_operator0/M_last_q" BEL
        "edge_detector_operator1/M_last_q" BEL
        "edge_detector_operator2/M_last_q" BEL
        "edge_detector_operator3/M_last_q" BEL
        "edge_detector_operator4/M_last_q" BEL "M_options_temp_q_10" BEL
        "M_options_temp_q_11" BEL "M_options_temp_q_12" BEL
        "M_options_temp_q_13" BEL "M_options_temp_q_14" BEL
        "M_options_temp_q_15" BEL "M_options_temp_q_16" BEL
        "M_options_temp_q_17" BEL "M_options_temp_q_18" BEL
        "M_options_temp_q_19" BEL "M_number_output_q_0" BEL
        "M_number_output_q_1" BEL "M_number_output_q_2" BEL
        "M_number_output_q_3" BEL "M_number_output_q_4" BEL
        "M_number_output_q_5" BEL "M_number_output_q_6" BEL
        "M_number_output_q_7" BEL "button_cond_operator0/M_ctr_q_0" BEL
        "button_cond_operator0/M_ctr_q_1" BEL
        "button_cond_operator0/M_ctr_q_2" BEL
        "button_cond_operator0/M_ctr_q_3" BEL
        "button_cond_operator0/M_ctr_q_4" BEL
        "button_cond_operator0/M_ctr_q_5" BEL
        "button_cond_operator0/M_ctr_q_6" BEL
        "button_cond_operator0/M_ctr_q_7" BEL
        "button_cond_operator0/M_ctr_q_8" BEL
        "button_cond_operator0/M_ctr_q_9" BEL
        "button_cond_operator0/M_ctr_q_10" BEL
        "button_cond_operator0/M_ctr_q_11" BEL
        "button_cond_operator0/M_ctr_q_12" BEL
        "button_cond_operator0/M_ctr_q_13" BEL
        "button_cond_operator0/M_ctr_q_14" BEL
        "button_cond_operator0/M_ctr_q_15" BEL
        "button_cond_operator0/M_ctr_q_16" BEL
        "button_cond_operator0/M_ctr_q_17" BEL
        "button_cond_operator0/M_ctr_q_18" BEL
        "button_cond_operator0/M_ctr_q_19" BEL
        "button_cond_operator0/sync/M_pipe_q_1" BEL
        "button_cond_operator0/sync/Mshreg_M_pipe_q_1" BEL
        "button_cond_operator1/M_ctr_q_0" BEL
        "button_cond_operator1/M_ctr_q_1" BEL
        "button_cond_operator1/M_ctr_q_2" BEL
        "button_cond_operator1/M_ctr_q_3" BEL
        "button_cond_operator1/M_ctr_q_4" BEL
        "button_cond_operator1/M_ctr_q_5" BEL
        "button_cond_operator1/M_ctr_q_6" BEL
        "button_cond_operator1/M_ctr_q_7" BEL
        "button_cond_operator1/M_ctr_q_8" BEL
        "button_cond_operator1/M_ctr_q_9" BEL
        "button_cond_operator1/M_ctr_q_10" BEL
        "button_cond_operator1/M_ctr_q_11" BEL
        "button_cond_operator1/M_ctr_q_12" BEL
        "button_cond_operator1/M_ctr_q_13" BEL
        "button_cond_operator1/M_ctr_q_14" BEL
        "button_cond_operator1/M_ctr_q_15" BEL
        "button_cond_operator1/M_ctr_q_16" BEL
        "button_cond_operator1/M_ctr_q_17" BEL
        "button_cond_operator1/M_ctr_q_18" BEL
        "button_cond_operator1/M_ctr_q_19" BEL
        "button_cond_operator1/sync/M_pipe_q_1" BEL
        "button_cond_operator1/sync/Mshreg_M_pipe_q_1" BEL
        "button_cond_operator2/M_ctr_q_0" BEL
        "button_cond_operator2/M_ctr_q_1" BEL
        "button_cond_operator2/M_ctr_q_2" BEL
        "button_cond_operator2/M_ctr_q_3" BEL
        "button_cond_operator2/M_ctr_q_4" BEL
        "button_cond_operator2/M_ctr_q_5" BEL
        "button_cond_operator2/M_ctr_q_6" BEL
        "button_cond_operator2/M_ctr_q_7" BEL
        "button_cond_operator2/M_ctr_q_8" BEL
        "button_cond_operator2/M_ctr_q_9" BEL
        "button_cond_operator2/M_ctr_q_10" BEL
        "button_cond_operator2/M_ctr_q_11" BEL
        "button_cond_operator2/M_ctr_q_12" BEL
        "button_cond_operator2/M_ctr_q_13" BEL
        "button_cond_operator2/M_ctr_q_14" BEL
        "button_cond_operator2/M_ctr_q_15" BEL
        "button_cond_operator2/M_ctr_q_16" BEL
        "button_cond_operator2/M_ctr_q_17" BEL
        "button_cond_operator2/M_ctr_q_18" BEL
        "button_cond_operator2/M_ctr_q_19" BEL
        "button_cond_operator2/sync/M_pipe_q_1" BEL
        "button_cond_operator2/sync/Mshreg_M_pipe_q_1" BEL
        "button_cond_operator3/M_ctr_q_0" BEL
        "button_cond_operator3/M_ctr_q_1" BEL
        "button_cond_operator3/M_ctr_q_2" BEL
        "button_cond_operator3/M_ctr_q_3" BEL
        "button_cond_operator3/M_ctr_q_4" BEL
        "button_cond_operator3/M_ctr_q_5" BEL
        "button_cond_operator3/M_ctr_q_6" BEL
        "button_cond_operator3/M_ctr_q_7" BEL
        "button_cond_operator3/M_ctr_q_8" BEL
        "button_cond_operator3/M_ctr_q_9" BEL
        "button_cond_operator3/M_ctr_q_10" BEL
        "button_cond_operator3/M_ctr_q_11" BEL
        "button_cond_operator3/M_ctr_q_12" BEL
        "button_cond_operator3/M_ctr_q_13" BEL
        "button_cond_operator3/M_ctr_q_14" BEL
        "button_cond_operator3/M_ctr_q_15" BEL
        "button_cond_operator3/M_ctr_q_16" BEL
        "button_cond_operator3/M_ctr_q_17" BEL
        "button_cond_operator3/M_ctr_q_18" BEL
        "button_cond_operator3/M_ctr_q_19" BEL
        "button_cond_operator3/sync/M_pipe_q_1" BEL
        "button_cond_operator3/sync/Mshreg_M_pipe_q_1" BEL
        "button_cond_operator4/M_ctr_q_0" BEL
        "button_cond_operator4/M_ctr_q_1" BEL
        "button_cond_operator4/M_ctr_q_2" BEL
        "button_cond_operator4/M_ctr_q_3" BEL
        "button_cond_operator4/M_ctr_q_4" BEL
        "button_cond_operator4/M_ctr_q_5" BEL
        "button_cond_operator4/M_ctr_q_6" BEL
        "button_cond_operator4/M_ctr_q_7" BEL
        "button_cond_operator4/M_ctr_q_8" BEL
        "button_cond_operator4/M_ctr_q_9" BEL
        "button_cond_operator4/M_ctr_q_10" BEL
        "button_cond_operator4/M_ctr_q_11" BEL
        "button_cond_operator4/M_ctr_q_12" BEL
        "button_cond_operator4/M_ctr_q_13" BEL
        "button_cond_operator4/M_ctr_q_14" BEL
        "button_cond_operator4/M_ctr_q_15" BEL
        "button_cond_operator4/M_ctr_q_16" BEL
        "button_cond_operator4/M_ctr_q_17" BEL
        "button_cond_operator4/M_ctr_q_18" BEL
        "button_cond_operator4/M_ctr_q_19" BEL
        "button_cond_operator4/sync/M_pipe_q_1" BEL
        "button_cond_operator4/sync/Mshreg_M_pipe_q_1" BEL
        "M_state_q_FSM_FFd1" BEL "M_state_q_FSM_FFd2" BEL "M_state_q_FSM_FFd3"
        BEL "M_number_output_q_6_1" BEL "M_options_q_0" BEL "M_options_q_2"
        BEL "M_options_q_4" BEL "M_options_q_5" BEL "M_options_q_6" BEL
        "M_options_q_7" BEL "M_options_q_8" BEL "M_options_q_9" BEL
        "M_options_q_10" BEL "M_options_q_11" BEL "M_options_q_12" BEL
        "M_options_q_13" BEL "M_options_q_14" BEL "M_options_q_16" BEL
        "M_options_q_18" BEL "M_options_q_19" BEL "M_number_input_q_0" BEL
        "M_number_input_q_1" BEL "M_number_input_q_2" BEL "M_number_input_q_3"
        BEL "edge_detector_restart/M_last_q" BEL "ctr/M_ctr_q_0" BEL
        "ctr/M_ctr_q_1" BEL "ctr/M_ctr_q_2" BEL "ctr/M_ctr_q_3" BEL
        "ctr/M_ctr_q_4" BEL "ctr/M_ctr_q_5" BEL "ctr/M_ctr_q_6" BEL
        "ctr/M_ctr_q_7" BEL "ctr/M_ctr_q_8" BEL "ctr/M_ctr_q_9" BEL
        "ctr/M_ctr_q_10" BEL "ctr/M_ctr_q_11" BEL "ctr/M_ctr_q_12" BEL
        "ctr/M_ctr_q_13" BEL "ctr/M_ctr_q_14" BEL "ctr/M_ctr_q_15" BEL
        "ctr/M_ctr_q_16" BEL "ctr/M_ctr_q_17" BEL "ctr/M_ctr_q_18" BEL
        "edge_detector_number0/M_last_q" BEL "edge_detector_number1/M_last_q"
        BEL "edge_detector_number2/M_last_q" BEL
        "edge_detector_number3/M_last_q" BEL "edge_detector_number4/M_last_q"
        BEL "clk_BUFGP/BUFG";
TS_clk = PERIOD TIMEGRP "clk" 50 MHz HIGH 50%;
SCHEMATIC END;

