NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;

NET "clk" LOC = P56 | IOSTANDARD = LVTTL;
NET "rst_n" LOC = P38 | IOSTANDARD = LVTTL;

NET "cclk" LOC = P70 | IOSTANDARD = LVTTL;

#NET "led<0>" LOC = P134 | IOSTANDARD = LVTTL;
#NET "led<1>" LOC = P133 | IOSTANDARD = LVTTL;
#NET "led<2>" LOC = P132 | IOSTANDARD = LVTTL;
#NET "led<3>" LOC = P131 | IOSTANDARD = LVTTL;
#NET "led<4>" LOC = P127 | IOSTANDARD = LVTTL;
#NET "led<5>" LOC = P126 | IOSTANDARD = LVTTL;
#NET "led<6>" LOC = P124 | IOSTANDARD = LVTTL;
#NET "led<7>" LOC = P123 | IOSTANDARD = LVTTL;

NET "led_seg_options<0>" LOC = P21 | IOSTANDARD = LVTTL;
NET "led_seg_options<1>" LOC = P17 | IOSTANDARD = LVTTL;
NET "led_seg_options<2>" LOC = P16 | IOSTANDARD = LVTTL;
NET "led_seg_options<3>" LOC = P15 | IOSTANDARD = LVTTL;
NET "led_seg_options<4>" LOC = P14 | IOSTANDARD = LVTTL;
NET "led_seg_options<5>" LOC = P12 | IOSTANDARD = LVTTL;
NET "led_seg_options<6>" LOC = P11 | IOSTANDARD = LVTTL;
NET "led_seg_options<7>" LOC = P120 | IOSTANDARD = LVTTL;

NET "led_sel_options<0>" LOC = P26 | IOSTANDARD = LVTTL;
NET "led_sel_options<1>" LOC = P24 | IOSTANDARD = LVTTL;
NET "led_sel_options<2>" LOC = P23 | IOSTANDARD = LVTTL;
NET "led_sel_options<3>" LOC = P22 | IOSTANDARD = LVTTL;

NET "led_seg_options1<0>" LOC = P2 | IOSTANDARD = LVTTL;
NET "led_seg_options1<1>" LOC = P5 | IOSTANDARD = LVTTL;
NET "led_seg_options1<2>" LOC = P8 | IOSTANDARD = LVTTL;
NET "led_seg_options1<3>" LOC = P7 | IOSTANDARD = LVTTL;
NET "led_seg_options1<4>" LOC = P6 | IOSTANDARD = LVTTL;
NET "led_seg_options1<5>" LOC = P10 | IOSTANDARD = LVTTL;
NET "led_seg_options1<6>" LOC = P9 | IOSTANDARD = LVTTL;
NET "led_seg_options1<7>" LOC = P120 | IOSTANDARD = LVTTL;

NET "led_seg_goal<0>" LOC = P35 | IOSTANDARD = LVTTL;
NET "led_seg_goal<1>" LOC = P34 | IOSTANDARD = LVTTL;
NET "led_seg_goal<2>" LOC = P33 | IOSTANDARD = LVTTL;
NET "led_seg_goal<3>" LOC = P32 | IOSTANDARD = LVTTL;
NET "led_seg_goal<4>" LOC = P30 | IOSTANDARD = LVTTL;
NET "led_seg_goal<5>" LOC = P29 | IOSTANDARD = LVTTL;
NET "led_seg_goal<6>" LOC = P27 | IOSTANDARD = LVTTL;
NET "led_seg_goal<7>" LOC = P120 | IOSTANDARD = LVTTL;

NET "led_sel_goal<0>" LOC = P40 | IOSTANDARD = LVTTL;
NET "led_sel_goal<1>" LOC = P41 | IOSTANDARD = LVTTL;
NET "led_sel_goal<2>" LOC = P50 | IOSTANDARD = LVTTL;
NET "led_sel_goal<3>" LOC = P51 | IOSTANDARD = LVTTL;

NET "led_seg_output<0>" LOC = P131 | IOSTANDARD = LVTTL;
NET "led_seg_output<1>" LOC = P132 | IOSTANDARD = LVTTL;
NET "led_seg_output<2>" LOC = P133 | IOSTANDARD = LVTTL;
NET "led_seg_output<3>" LOC = P134 | IOSTANDARD = LVTTL;
NET "led_seg_output<4>" LOC = P137 | IOSTANDARD = LVTTL;
NET "led_seg_output<5>" LOC = P138 | IOSTANDARD = LVTTL;
NET "led_seg_output<6>" LOC = P139 | IOSTANDARD = LVTTL;
NET "led_seg_output<7>" LOC = P120 | IOSTANDARD = LVTTL;

NET "led_sel_output<0>" LOC = P123 | IOSTANDARD = LVTTL;
NET "led_sel_output<1>" LOC = P124 | IOSTANDARD = LVTTL;
NET "led_sel_output<2>" LOC = P126 | IOSTANDARD = LVTTL;
NET "led_sel_output<3>" LOC = P127 | IOSTANDARD = LVTTL;

NET "led_seg_input<0>" LOC = P105 | IOSTANDARD = LVTTL;
NET "led_seg_input<1>" LOC = P94 | IOSTANDARD = LVTTL;
NET "led_seg_input<2>" LOC = P101 | IOSTANDARD = LVTTL;
NET "led_seg_input<3>" LOC = P99 | IOSTANDARD = LVTTL;
NET "led_seg_input<4>" LOC = P97 | IOSTANDARD = LVTTL;
NET "led_seg_input<5>" LOC = P100 | IOSTANDARD = LVTTL;
NET "led_seg_input<6>" LOC = P98 | IOSTANDARD = LVTTL;
NET "led_seg_input<7>" LOC = P120 | IOSTANDARD = LVTTL;
NET "led_seg_input_power" LOC = P102 | IOSTANDARD = LVTTL;

# PULLDOWN is needed to prevent floating inputs
NET "button_operator<0>" LOC = P74 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button_operator<1>" LOC = P67 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button_operator<2>" LOC = P66 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button_operator<3>" LOC = P57 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button_operator<4>" LOC = P58 | IOSTANDARD = LVTTL | PULLDOWN;

NET "button_number<0>" LOC = P82 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button_number<1>" LOC = P81 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button_number<2>" LOC = P80 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button_number<3>" LOC = P79 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button_number<4>" LOC = P78 | IOSTANDARD = LVTTL | PULLDOWN;

NET "button_restart" LOC = P75 | IOSTANDARD = LVTTL | PULLDOWN;

NET "spi_mosi" LOC = P44 | IOSTANDARD = LVTTL;
NET "spi_miso" LOC = P45 | IOSTANDARD = LVTTL;
NET "spi_ss" LOC = P48 | IOSTANDARD = LVTTL;
NET "spi_sck" LOC = P43 | IOSTANDARD = LVTTL;
NET "spi_channel<0>" LOC = P46 | IOSTANDARD = LVTTL;
NET "spi_channel<1>" LOC = P61 | IOSTANDARD = LVTTL;
NET "spi_channel<2>" LOC = P62 | IOSTANDARD = LVTTL;
NET "spi_channel<3>" LOC = P65 | IOSTANDARD = LVTTL;

NET "avr_tx" LOC = P55 | IOSTANDARD = LVTTL;
NET "avr_rx" LOC = P59 | IOSTANDARD = LVTTL;
NET "avr_rx_busy" LOC = P39 | IOSTANDARD = LVTTL;